$font-size: 14px;
$font-size--large: 18px;
$font-size--huge: 24px;
$primary-color: #000000;
$secondary-color: #ffffff;
$background-color: #283645;
$secondary-color--darken: #283645;
// $primary-color--ligten: #283645;
