.contacts {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  width: 320px;
  min-height: 395px;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
  }

  @media (min-width: $breakpoint-desktop) {
    background-color: $secondary-color;
    justify-content: center;
  }
}

.contacts__title {
  margin: 0;
  font-size: $font-size--huge;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  color: $secondary-color--darken;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--vast;
    padding: 5px 70px 14px 70px;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: $font-size--enormous;
    width: 100%;
    padding: 20px 262px 28px 258px;
  }
}

.contacts__inner-container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 33px 0 0 0;

  @media (min-width: $breakpoint-tablet) {
    width: 50%;
    padding: 25px 0 10px 0;
    margin: 0 auto 10px auto;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 25%;
    margin: 0 10px;
  }

  &--link {
    @media (min-width: $breakpoint-desktop) {
      order: 1;
    }
  }
}

.contacts__action {
  font-size: $font-size--large;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  color: $secondary-color--darken;

  @media (min-width: $breakpoint-tablet) {
    line-height: 1.8;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-bottom: 20px;
  }
}

.contacts__action-link {
  font-size: $font-size--huge;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  color: $main-color;

  &:hover,
  &:focus {
    color: $secondary-color--darken;
  }

  &:active {
    color: $secondary-color--darken;
    opacity: 0.3;
  }
}

.contacts__map {
  position: relative;
  margin-top: 40px;
  width: 320px;
  min-height: 200px;
  background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%, cover;
  background-position: 44% 0, center 100%;
  cursor: url("../img/icon-map-marker.svg"), auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-mobile@2x.jpg");
  }

  @media (min-width: $breakpoint-tablet) {
    width: 100%;
    min-height: 375px;
    margin-top: 10px;
    background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-tablet@1x.jpg");
    background-size: 100%, 100%;
    background-position: 0 0, 50% 73%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-tablet@2x.jpg");
    }
  }

  @media (min-width: $breakpoint-desktop) {
    width: 100%;
    min-height: 505px;
    background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-desktop@1x.jpg");
    background-position: 0 0, 50% 58%;
    order: 2;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-triangle-white-footer.svg"), url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
