.dounload-aside {
  box-sizing: border-box;
  padding: 28px 32px;
  color: $secondary-color;
  width: 320px;
  height: 271px;
  background-color: $secondary-color--darken;
  outline: 2px dotted plum;

  @media (min-width: $breakpoint-tablet) {
    background-color: transparent;
  }
}

.dounload-aside__link {
  display: block;
  margin: 0 auto;
  width: 251px;
  font-size: $font-size--large;
  font-weight: bold;
  line-height: 55px;
  text-align: center;
  border: 2px solid $secondary-color;
  // border-radius: 5%;
}

.dounload-aside__all-links {
  display: flex;
  justify-content: space-between;
}

.dounload-aside__text {
  font-size: $font-size;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    margin: 0;
    font-size: $font-size--large;
    line-height: 1.33;
  }
}
