.features {
  outline: lime 2px dotted;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: row-reverse;
    background-color: $secondary-color--fogged;
  }
}

.features__desciption-wrapper {
  @media (min-width: $breakpoint-tablet) {
    width: 360px;
    height: 481px;
    margin-left: auto;
  }
}

.features__desciption {
  display: block;
  margin: 0;
  padding: 0 34px;
  // color: $secondary-color--darken;
  // font-size: $font-size;
  // font-weight: normal;
  // // font-stretch: normal;
  // // font-style: normal;
  // // line-height: 1.71;
  // // letter-spacing: normal;
  // text-align: center;
  outline: 1px dashed blue;
}

.features b {
  color: $primary-color;
}

.features img {
  display: block;
  margin: 0 auto -60px auto;

  @media (min-width: $breakpoint-tablet) {
    width: 268px;
    height: 481px;
  }
}
