.feedback__form {
  @media (min-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.feedback__container {
  outline: 2px gray solid;
  margin-bottom: 20px;

  @media (min-width: $breakpoint-desktop) {
    flex-basis: 100%;
  }

  &--name {
    @media (min-width: $breakpoint-tablet) {
      order: -3;
    }

    @media (min-width: $breakpoint-desktop) {
      flex-basis: 637px;
    }
  }

  &--impression {
    @media (min-width: $breakpoint-tablet) {
      order: -2;
    }

    @media (min-width: $breakpoint-desktop) {
      flex-basis: 431px;
      margin-left: auto;
    }
  }

  &--formcontact {
    @media (min-width: $breakpoint-tablet) {
      order: -1;
    }
  }
}


.feedback__leader {
  font-size: $font-size;
  font-weight: normal;
  // line-height: 1.29;
  text-transform: uppercase;
  text-align: center;
  color: $main-color;
}
// осторожно, каскад! переопределяем цвет лейблов
// в филдсете с именами

.feedback__submit-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  min-height: 120px;
}
