.main-form {
  outline: 2px dashed blue;
}

.main-form__paragraph {
  background: plum;
  margin: 0 0 35px 0;
  padding: 45px 15px 0 15px;
  box-sizing: border-box;
  color: $secondary-color--darken;
  font-size: $font-size;
  font-weight: 400;
  line-height: 2.14;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--large;
    padding: 92px 50px 24px;
    line-height: 1.7;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 92px 210px 24px;
    // word-wrap: break-word;
    // white-space: nowrap;
  }
}

.main-form__paragraph-advansed {
  display: none;

  @media (min-width: $breakpoint-tablet) {
    display: inline-block;
  }
}
