.main-page {
  padding-top: 42px;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 50px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 40px;
  }
}

.main-page__note {
  display: block;
  margin: 0;
  color: $secondary-color--darken;
  font-size: $font-size--huge;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  padding: 0 0 30px 0;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--vast;
    padding: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 50px;
  }
}

.main-page__effect {
  background-color: lime;
  display: none;

  @media (min-width: $breakpoint-tablet) {
    display: block;
    box-sizing: border-box;
    padding: 1px 36px 65px 50%;
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 5% 0;
    background-size: 36%;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 90px 36px 80px 41%;
    background-size: 25%;
    background-position: 14.5% 35%;
  }
}

.main-page__effect h2 {
  margin: 35px 0 10px 0;
  font-size: $font-size--giant;
  font-weight: bold;
  line-height: 1.2;

  @media (min-width: $breakpoint-desktop) {
    line-height: 1.7;
  }
}

.main-page__effect br {
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.main-page__effect p {
  margin: 0;
  width: 300px;
  font-size: $font-size;
  font-weight: normal;
  line-height: 1.71;
  text-align: left;
  color: $secondary-color--darken;

  @media (min-width: $breakpoint-desktop) {
    font-size: $font-size--large;
    padding: 0 10px 0 0;
    width: 540px;
  }
}

.main-page__effect span {
  font-size: $font-size;
  font-weight: normal;
  line-height: 3.9;
  text-align: left;
  color: $main-color;

  @media (min-width: $breakpoint-desktop) {
    font-size: $font-size--large;
    line-height: 5.2;
  }
}
