.main-nav__logo-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 0 1px 0;
  padding: 22px 20px 22px 20px;
  min-height: 69px;
  background-color: $secondary-color--darken;
  box-shadow: 0 1px 0 0 $primary-color;

  @media (min-width: $breakpoint-tablet) {
    width: 660px;
    height: 110px;
    background-color: rgba(40, 54, 69, 0.3);
  }
}

.main-nav__logo {
  width: 147px;
  height: 40px;
  outline: yellow 1px dotted;
}

.main-nav__link {
  display: block;
  color: $secondary-color;
  font-size: $font-size--large;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 63px;

  min-width: 320px;
  margin-bottom: 1px;
  height: 63px;
  background-color: #283645;
  box-shadow: 0 1px 0 0 $primary-color, inset 0 1px 0 0 rgba(255, 255, 255, 0.15);
}
