.main-page {
  padding-top: 42px;

  @media (min-width: $breakpoint-tablet) {
    padding-top: 50px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-top: 65px;
  }
}

.main-page__note {
  display: block;
  margin: 0;
  color: $secondary-color--darken;
  font-size: $font-size--huge;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  padding: 0 0 30px 0;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--vast;
    padding: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 50px;
  }
}

.main-page__effect {
  background-color: $secondary-color--fogged;
  display: none;
  position: relative;

  @media (min-width: $breakpoint-tablet) {
    display: block;
    box-sizing: border-box;
    padding: 1px 36px 65px 50%;
    background-image: url("../img/timer.svg");
    background-repeat: no-repeat;
    background-position: 5% 0;
    background-size: 36%;

    &::before {
      position: absolute;
      content: "24";
      font-size: 96px;
      color: $main-color;
      font-weight: bold;
      text-align: center;
      top: 55px;
      left: 40px;
      width: 202px;
      height: 202px;
      border: 13px solid $main-color;
      border-radius: 50%;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 90px 36px 80px 41%;
    background-size: 25%;
    background-position: 14.5% 35%;

    &::before {
      font-size: 120px;
      color: $main-color;
      top: 105px;
      left: 155px;
      width: 253px;
      height: 253px;
      border: 16px solid $main-color;
    }
  }
}

.main-page__effect h2 {
  margin: 35px 0 10px 0;
  font-size: $font-size--giant;
  font-weight: bold;
  line-height: 1.2;

  @media (min-width: $breakpoint-desktop) {
    line-height: 1.7;
  }
}

.main-page__effect br {
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.main-page__effect p {
  margin: 0;
  width: 300px;
  font-size: $font-size;
  font-weight: normal;
  line-height: 1.71;
  text-align: left;
  color: $secondary-color--darken;

  @media (min-width: $breakpoint-desktop) {
    font-size: $font-size--large;
    padding: 0 10px 0 0;
    width: 540px;
  }
}

.main-page__effect span {
  font-size: $font-size;
  font-weight: normal;
  line-height: 3.9;
  text-align: left;
  color: $main-color;
  text-decoration: underline;

  @media (min-width: $breakpoint-desktop) {
    font-size: $font-size--large;
    line-height: 5.2;
  }
}
