.main-nav {
  @media (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  margin: 0 0 1px 0;
  padding: 20px 20px 20px 20px;
  min-height: 66px;

  &--popup {
    background-color: $secondary-color--darken;
    box-shadow: 0 1px 0 0 $primary-color;

    @media (min-width: $breakpoint-desktop) {
      display: none;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    width: 660px;
    height: 110px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 360px;
    padding: 20px 20px 20px 0;
  }
}

.main-nav__logo {
  @media (min-width: $breakpoint-tablet) {
    height: 100%;
  }
}

.main-nav__logo img {
  width: 75px;
  height: 22px;

  @media (min-width: $breakpoint-tablet) {
    width: 147px;
    height: 40px;
    padding-top: 6px;
  }
}

.main-nav__list {
  display: block;
  // у попап-модификатора абсолютное позиционирование см. .popup--show
  top: 0;

  @media (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 110px;
    width: 75%;
  }
}

.main-nav__item {
  @media (min-width: $breakpoint-desktop) {
    margin: auto 0;
  }
}

.main-nav__link {
  display: block;
  color: $secondary-color;
  font-size: $font-size--large;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 63px;
  min-width: 320px;
  margin-bottom: 1px;
  height: 63px;
  background-color: $secondary-color--darken;
  box-shadow: 0 1px 0 0 $primary-color, inset 0 1px 0 0 $menu-shadow-color;

  @media (min-width: $breakpoint-desktop) {
    min-width: auto;
    height: auto;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 1;
    white-space: nowrap;
  }
}

.main-nav__btn {
  font-size: 0;
  display: block;
  border: none;
  box-sizing: border-box;
  width: 46px;
  height: 22px;
  background-color: #283645;
  background-image: url("../img/icon-menu-burger.svg");
  background-size: contain;

  @media (min-width: $breakpoint-desktop) {
    display: none;
  }

  &--close {
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-menu-cross.svg");
  }
}
