.main-nav {
  @media (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  margin: 0 0 1px 0;
  padding: 20px 20px 20px 20px;
  min-height: 66px;

  &--popup {
    background-color: $secondary-color--darken;
    box-shadow: 0 1px 0 0 $primary-color;

    @media (min-width: $breakpoint-desktop) {
      display: none;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    width: 660px;
    height: 110px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 360px;
    padding: 20px 20px 20px 0;
  }
}

.main-nav__logo {
  @media (min-width: $breakpoint-tablet) {
    height: 100%;
  }
}

.main-nav__logo-pic {
  fill: $secondary-color;
  width: 75px;
  height: 22px;

  &:hover,
  &:focus {
    fill: $main-color;
  }

  &:active {
    fill: $secondary-color;
    opacity: 0.3;
  }

  @media (min-width: $breakpoint-tablet) {
    width: 147px;
    height: 40px;
    padding-top: 6px;
  }
}

.main-nav__logo-pic--mobile {
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.main-nav__logo-pic--tablet {
  display: none;

  @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
    display: block;
  }
}

.main-nav__logo-pic--desktop {
  display: none;
  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

.main-nav__list {
  display: block;
  // у попап-модификатора абсолютное позиционирование см. .popup--show
  top: 0;

  @media (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 110px;
    width: 75%;
  }
}

.main-nav__item {
  @media (min-width: $breakpoint-desktop) {
    margin: auto 0;
  }
}

.main-nav__link {
  display: block;
  color: $secondary-color;
  font-size: $font-size--large;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 63px;
  min-width: 320px;
  margin-bottom: 1px;
  height: 63px;
  background-color: $secondary-color--darken;
  box-shadow: 0 1px 0 0 $primary-color, inset 0 1px 0 0 $menu-shadow-color;

  @media (min-width: $breakpoint-desktop) {
    min-width: auto;
    height: auto;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: normal;
    line-height: 1;
    white-space: nowrap;
  }
}

.main-nav__btn {
  font-size: 0;
  display: block;
  border: none;
  box-sizing: border-box;
  background-color: transparent;

  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.main-nav__icon {
  fill: $secondary-color;

  &:hover,
  &:focus {
    fill: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}
