.main-photo {
  overflow: hidden;
}

.main-photo__paragraph {
  margin: 0;
  padding: 45px 20px 25px;
  box-sizing: border-box;
  min-height: 185px;
  color: $secondary-color--darken;
  font-size: $font-size;
  font-weight: 400;
  line-height: 2.15;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--large;
    padding: 92px 45px 75px;
    line-height: 1.7;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 92px 45px 88px;
  }
}

.main-photo__paragraph br {
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }

  @media (min-width: $breakpoint-desktop) {
    display: block;
  }
}

.main-photo__photo-list {
  width: 280px;
  margin: 0 20px;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    margin: 0 -30px 0 20px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 980px;
    margin: 0 -170px 0 130px;
  }
  // Отрицательный внешний отступ добавлен для корректного
  // переноса карточек в многострочном флекс-контейнере
  background-color: lime;
}

.main-photo__photo-item {
  // outline: 5px dotted magenta;
  background: beige;

  @media (min-width: $breakpoint-tablet) {
    flex-basis: 300px;
    min-height: 455px;
    margin: 0 20px 20px 0;
  }
}


.main-photo__photo-item:first-child {
  @media (min-width: $breakpoint-tablet) {
    flex-basis: 620px;
    min-height: 630px;
    margin: 0 0 50px 0;
  }

  @media (min-width: $breakpoint-desktop) {
    flex-basis: 940px;
    min-height: 602px;
    margin: 0 0 50px 0;
  }
}

.main-photo-list__pic {
  // outline: 3px aqua solid;
  margin: 0;

  @media (min-width: $breakpoint-tablet) {
    height: 300px;
  }
}

.main-photo__photo-item:first-child .main-photo-list__pic {
  position: relative;
  margin: 0 -20px;

  &::after {
    content: "панорама дня";
    position: absolute;
    top: 0;
    left: 50%;
    width: 140px;
    height: 36px;
    background-color: $main-color;
    color: $secondary-color;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3;
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
      top: 11%;
      left: 74.5%;
    }

    @media (min-width: $breakpoint-desktop) {
      left: 77.5%;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    outline: dashed 3px coral;
    width: 700px;
    height: 509px;
    margin: 0 40px 0 -40px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 0 -130px;
    width: 1200px;
    height: 506px;
  }
}

.main-photo__pic {
  width: 100%;
  height: auto;
  margin: 0;
}

.main-photo__video {
  box-sizing: border-box;
  width: 320px;
  min-height: 757px;
  padding: 20px;
  background-color: aqua;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    width: 660px;
    min-height: 509px;
  }
}

.main-photo__buttons {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 201px;
  margin: auto 0 0 0;
  padding: 30px 20px;
  background-color: khaki;

  @media (min-width: $breakpoint-tablet) {
    width: 100%;
    padding: 0;
  }
}

.main-photo__buttons button {
  margin: 0 auto;
  width: 100%;
  color: red;
  font-size: $font-size--large;
  font-weight: bold;
  line-height: 55px;
  text-align: center;
  border: 2px solid red;

  @media (min-width: $breakpoint-tablet) {
    // width: inherit;
    padding: 0;
    margin-top: auto;
  }
}
