.main-photo__paragraph {
  background: plum;
  margin: 0;
  padding: 40px 25px 25px;
  box-sizing: border-box;
  color: $secondary-color--darken;
  font-size: $font-size;
  font-weight: 400;
  line-height: 2.14;
  text-align: center;
  min-height: 180px;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--large;
    padding: 40px 45px 25px;
  }
}

.main-photo__photo-list {
  width: 280px;
  margin: 0 20px;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    margin: 0 -30px 0 20px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 980px;
    margin: 0 -170px 0 130px;
  }
  // Отрицательный внешний отступ добавлен для корректного
  // переноса карточек в многострочном флекс-контейнере
  background-color: lime;
}

.main-photo__photo-item {
  outline: 1px dotted blue;
  background: bisque;

  @media (min-width: $breakpoint-tablet) {
    flex-basis: 300px;
    min-height: 455px;
    margin: 0 20px 20px 0;
  }
}


.main-photo__photo-item:first-child {
  @media (min-width: $breakpoint-tablet) {
    flex-basis: 620px;
    min-height: 630px;
    margin: 0 0 50px 0;
  }

  @media (min-width: $breakpoint-desktop) {
    flex-basis: 940px;
    min-height: 602px;
    margin: 0 0 50px 0;
  }
}

.main-photo__photo-item:first-child .main-photo-list__pic {
  margin: 0 -20px;

  @media (min-width: $breakpoint-desktop) {
    margin: 0 -130px;
  }
}

.main-photo__video {
  box-sizing: border-box;
  width: 320px;
  height: 556px;
  padding: 20px;
  background-color: aqua;
}

.main-photo__buttons {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 201px;
  padding: 30px 20px;
  background-color: khaki;
}

.main-photo__buttons button {
  margin: 0 auto;
  width: 100%;
  color: red;
  font-size: $font-size--large;
  font-weight: bold;
  line-height: 55px;
  text-align: center;
  border: 2px solid red;
}
