.page-footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 284px;
  padding: 42px 72px 0 72px;
  background-color: $secondary-color;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
    padding: 0 15px 0 20px;
  }

  @media (min-width: $breakpoint-desktop) {
    min-height: 197px;
    justify-content: space-around;
  }
}

.page-footer--main {
  display: none;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
  }
}

.page-footer__logo {
  margin: 0 auto 35px;

  @media (min-width: $breakpoint-tablet) {
    margin: 0;
    align-self: auto;
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  @media (min-width: $breakpoint-tablet) {
    margin: 0;
    width: 175px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 175px;
    padding-left: 35px;
  }
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: solid 2px $form-border-color;
  border-radius: 50%;
}

.page-footer__social-icon {
  fill: $main-color;
  margin: auto;
}

.page-footer__copy {
  display: flex;
  margin: 0;
  padding: 15px 0;

  @media (min-width: $breakpoint-tablet) {
    margin: 0;
  }
}

.page-footer__copy-text {
  margin: auto 15px auto 25px;

  @media (min-width: $breakpoint-desktop) {
    font-size: 18px;
    line-height: 1;
    text-align: left;
  }
}

.page-footer__copy-logo {
  font-size: 0;
}

.page-footer__copy-pic {
  fill: $main-color;
}
