.page-header {
  background-color: $secondary-color--darken;
  background-image: linear-gradient(to bottom, $secondary-color--darken-translucent 30%, transparent 30% 40%), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0, 0 top;
  // min-height: 490px;

  &--showed-menu {
    margin-top: 255px;
  }

  @media (min-width: $breakpoint-tablet) {
    background-image: linear-gradient(to bottom, $secondary-color--darken-translucent 25%, transparent 25% 40%), url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 0, 50% top;
    min-height: 440px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0 130px;
    // background-image: url("../img/bg-back-desktop@1x.jpg");
    background-image: linear-gradient(to bottom, $secondary-color--darken-translucent 25%, transparent 25% 40%), url("../img/bg-back-desktop@1x.jpg");
    margin-bottom: 30px;
  }
}

.page-header--index {
  background-image: linear-gradient(to bottom, $secondary-color--darken-translucent 9%, transparent 9% 40%), url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0, 0 39%, 0 top;

  @media (min-width: $breakpoint-tablet) {
    background-image: linear-gradient(to bottom, $secondary-color--darken-translucent 15%, transparent 15% 40%), url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 0, 0 bottom, 50% top;
    min-height: 730px;
  }

  @media (min-width: $breakpoint-desktop) {
    background-image: linear-gradient(to bottom, $secondary-color--darken-translucent 15%, transparent 15% 40%), url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-position: 0 015 96% bottom, 50% top;
    min-height: 855px;
  }
}

.page-header__slogan {
  display: block;
  padding: 20px 45px 45px 45px;
  color: $secondary-color;
  font-size: $font-size--huge;
  text-align: center;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  min-height: 328px;
  outline: 5px dashed lime;

  @media (min-width: $breakpoint-tablet) {
    box-sizing: border-box;
    font-size: $font-size--vast;
    // padding: 110px 40px 10px 45px;
    outline: 5px dashed tomato;
    // min-height: 220px;
    width: 320px;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: $font-size--enormous;
    padding: 110px 45px 0 28px;
    margin-bottom: 30px;
  }
}

.page-header__title {
  display: block;
  box-sizing: border-box;
  padding: 35px 45px 45px 45px;
  min-height: 165px;
  margin: 0;
  color: $secondary-color;
  font-size: $font-size--huge;
  text-align: center;
  font-weight: 300;
  line-height: 1.2;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--enormous;
    padding: 65px 45px 45px 45px;
  }
}
