.page-footer {
  min-height: 284px;
  padding: 0 75px;
  background-color: tan;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
    padding: 0 20px;
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  outline: blue dashed 1px;
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: solid 2px red;
  border-radius: 50%;
}

.page-footer__copy {
  display: flex;
  justify-content: center;
  width: auto;
  min-height: 35px;
  vertical-align: baseline;
  margin: 0;
}

.page-footer__copy-text {
  margin: 0 10px;
}
