.page-footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 284px;
  padding: 42px 72px 0 72px;
  background-color: tan;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
    padding: 0 15px 0 20px;
  }

  @media (min-width: $breakpoint-desktop) {
    min-height: 197px;
    justify-content: space-around;
  }
}

.page-footer--main {
  display: none;

  @media (min-width: $breakpoint-tablet) {
    display: flex;
  }
}

.page-footer__logo {
  margin: 0 auto 35px;
  outline: aqua dashed 1px;

  @media (min-width: $breakpoint-tablet) {
    margin: 0;
    align-self: auto;
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  outline: blue dashed 4px;
  margin-bottom: 25px;

  @media (min-width: $breakpoint-tablet) {
    margin: 0;
    width: 175px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 175px;
    padding-left: 35px;
  }
}

.page-footer__social-link {
  display: flex;
  justify-content: center;
  width: 46px;
  height: 46px;
  border: solid 2px red;
  border-radius: 50%;
}

.page-footer__copy {
  display: flex;
  min-height: 55px;
  margin: 0;
  outline: magenta dashed 1px;

  @media (min-width: $breakpoint-tablet) {
    margin: 0;
  }
}

.page-footer__copy-text {
  margin: auto 5px auto 25px;
  outline: aqua dashed 1px;

  @media (min-width: $breakpoint-desktop) {
    font-size: 18px;
    line-height: 1;
    text-align: left;
  }
}

.page-footer__copy-logo {

  height: auto;
  width: 40px;
  outline: aqua dashed 1px;
}

.page-footer__copy-logo img {
  margin: 10px 0 0 0;
  width: auto;
}
