.popup {
  display: none;

  &--show {
    position: absolute;
    display: block;

    @media (min-width: $breakpoint-desktop) {
      position: relative;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    display: inherit;
  }
}

.popup__form {
  display: none;
}
