.references {
  position: relative;
  margin-top: 45px;
  width: auto;
  min-height: 240px;

  @media (min-width: $breakpoint-tablet) {
    min-height: 210px;
  }

  @media (min-width: $breakpoint-desktop) {
    position: relative;
    margin-top: 0;
    min-height: 410px;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: center 20%;
    background-color: $secondary-color;
  }
}

.references__reference {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.references__user-name {
  text-align: center;
  font-size: $font-size--large;
  line-height: 1;
  padding: 0 0 20px 0;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--big;
    padding: 40px 0 15px 0;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: $font-size--huge;
    padding: 40px 0 10px 0;
  }
}

.references__user-data {
  display: none;

  @media (min-width: $breakpoint-tablet) {
    display: block;
    font-size: $font-size;
    color: $secondary-color--darken;
    text-align: center;
    line-height: 1;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: $font-size--large;
  }
}

.references__text {
  color: $secondary-color--darken;
  text-align: center;
  line-height: 2.2;
  padding: 0 20px;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--large;
    order: -1;
    line-height: 1.7;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 185px 257px 0 255px;
  }
}

.references__slider-control {
  display: none;

  @media (min-width: $breakpoint-desktop) {
    display: block;
    position: absolute;
    top: 52%;
    fill: #dedede;

    &:hover,
    &:focus {
      fill: $secondary-color--darken;
    }

    &:active {
      fill: $secondary-color--fogged;
    }
  }
}

.references__slider-control--left {
  left: 11%;
}

.references__slider-control--right {
  right: 11%;
}
