.references {
  position: relative;
  margin-top: 40px;
  width: auto;
  min-height: 320px;
  background-color: tan;

  @media (min-width: $breakpoint-tablet) {
    min-height: 230px;
  }
}

.references__reference {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.references__user-name {
  text-align: center;
  font-size: $font-size--large;
  line-height: 1;

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--big;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: $font-size--huge;
  }
}

.references__user-data {
  outline: 2px yellow dotted;
  display: none;

  @media (min-width: $breakpoint-tablet) {
    display: block;
    font-size: $font-size;
    color: $secondary-color--darken;
    text-align: center;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--large;
  }
}

.references__text {
  color: $secondary-color--darken;
  text-align: center;
  line-height: 2.2;
  padding: 0 20px;

  @media (min-width: $breakpoint-tablet) {
    order: -1;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size--large;
  }
}
