.slider {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55px;
  left: 42%;

  &--references {
    bottom: -24px;
    z-index: 1;

    @media (min-width: $breakpoint-tablet) {
      left: 45%;
    }
  }

  &--prices {
    bottom: 9%;

    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

.slider__control {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(40, 54, 69, 0.3);

  &:hover,
  &:focus {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.2);
  }

  &--current {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid $secondary-color--darken;
  }
}
