.video {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    height: 511px;
    margin: 0 auto;
    padding: 57px 22px 54px 20px;
  }
}

.video__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  outline: 2px blue solid;
  position: relative;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: column;
    position: inherit;
    width: 47%;
    height: 400px;
    margin: 0 0 0 auto;
  }
}

.video__options {
  display: flex;
  // min-height: 200px;
  margin: 40px 0 50px 0;
  outline: red 4px dotted;

  @media (min-width: $breakpoint-tablet) {
    margin: 0;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
  }
}

// .video__control {
//   outline: 5px pink dashed;
//   margin: auto 0;
//
//   @media (min-width: $breakpoint-tablet) {
//     display: flex;
//     }
// }

// .video__control-scale {
//   display: none;
//   background-color: tan;
//   width: 240px;
//   height: 25px;
//
//   &--corp {
//     display: block;
//     position: absolute;
//     top: 135%;
//   }
//
//   @media (min-width: $breakpoint-tablet) {
//     display: block;
//     width: 202px;
//
//     &--corp {
//       display: block;
//       position: inherit;
//     }
//   }
// }
